[submodule ".local/share/catppuccin/wezterm"]
	path = .local/share/catppuccin/wezterm
	url = git@github.com:catppuccin/wezterm.git
[submodule ".local/share/catppuccin/micro"]
	path = .local/share/catppuccin/micro
	url = git@github.com:catppuccin/micro.git
[submodule ".local/share/catppuccin/sublime-text"]
	path = .local/share/catppuccin/sublime-text
	url = git@github.com:catppuccin/sublime-text.git
[submodule ".local/share/catppuccin/Kvantum"]
	path = .local/share/catppuccin/Kvantum
	url = git@github.com:catppuccin/kvantum.git
[submodule ".local/share/catppuccin/cursors"]
	path = .local/share/catppuccin/cursors
	url = git@github.com:catppuccin/cursors.git
[submodule ".local/share/catppuccin/Kde"]
	path = .local/share/catppuccin/Kde
	url = git@github.com:catppuccin/kde.git
[submodule ".local/share/catppuccin/gtk"]
	path = .local/share/catppuccin/gtk
	url = git@github.com:Fausto-Korpsvart/Catppuccin-GTK-Theme.git
